{% extends "base.html" %}
{% block content %}
  <h1>Omat tilaukset</h1>

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tilaus</th>
        <th>Loppusumma</th>
      </tr>
    </thead>

    <tbody>
      <!-- Tuotteet listana -->
      {% for tilaus in tilaukset %}
      <tr>
        <td><a href="{{base_path}}/tilaus/{{tilaus.id}}">{{tilaus.id}}</a></td>
        <td>{{tilaus.loppusumma}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}