{% extends "base.html" %}
{% block content %}
  <h1>{{asiakas.nimi}}</h1>

  <!-- Painikkeet tähän -->
    <p>
    <form method="post" action="{{base_path}}/asiakkaat/{{asiakas.id}}/destroy" style="display: inline-block;">
      <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    <a href="{{base_path}}/tuotteet_yp/{{asiakas.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>

  {% if message %}
    <div class="alert alert-success">
    {{message}}
  </div>
  {% endif %}

  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tunnus:</strong> {{asiakas.tunnus}} </li>
    <li><strong>e-mail:</strong> {{asiakas.email}} </li>
    <li><strong>Toimitusosoite:</strong> {{asiakas.osoite}} </li>
    <li><strong>Puhelinnumero:</strong> {{asiakas.puh}} </li>
  </ul>

    <p>
      Tilaushistoria
      <ul>
      </ul>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tilaus</th>
        <th>Loppusumma</th>
      </tr>
    </thead>

    <tbody>
      <!-- Tuotteet listana -->
      {% for tilaus in tilaukset %}
      <tr>
        <td><a href="{{base_path}}/tilaus/{{tilaus.id}}">{{tilaus.id}}</a></td>
        <td>{{tilaus.loppusumma}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}