{% extends "base.html" %}
{% block content %}
  <h1>{{asiakas.nimi}}</h1>

  <!-- Painikkeet tähän -->
    <p>
    <form method="post" action="{{base_path}}/asiakkaat/{{asiakas.id}}/destroy" style="display: inline-block;">
      <button type="submit" class="btn btn-danger">Poista</button>
    </form>
    <a href="{{base_path}}/tuotteet_yp/{{asiakas.id}}/edit" class="btn btn-default">Muokkaa</a>
  </p>

    <div class="alert alert-success">
    {{message}}
  </div>

  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tunnus:</strong> {{asiakas.tunnus}} </li>
    <li><strong>e-mail:</strong> {{asiakas.email}} </li>
    <li><strong>Toimitusosoite:</strong> {{asiakas.osoite}} </li>
    <li><strong>Puhelinnumero:</strong> {{asiakas.puh}} </li>
    <li><strong>Tilauksenesto:</strong> <label class="label label-danger">{{asiakas.tilauskielto}}</label></li>
  </ul>

    <p>
      Tilaushistoria
      <ul>
      </ul>
  </p>
{% endblock %}