{% extends "base.html" %}
{% block content %}
  <h1>Jukan kalakauppa</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Rekisteröitynyt:</strong> 11.11.2011 </li>
    <li><strong>e-mail:</strong> kalaa@jukankalakauppa.com </li>
    <li><strong>Toimitusosoite:</strong> Kampelakatu 1, 20500 Turku </li>
    <li><strong>Puhelinnumero:</strong> +3582022112200 </li>
    <li><strong>Tilauksenesto:</strong> <label class="label label-danger">kyllä</label></li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
      Tilaushistoria
      <ul>
      <li> <a href="#">000001</a> </li>
      </ul>
  </p>
{% endblock %}