{% extends "base.html" %}
{% block content %}
  <h1>Tuotteet</h1>

  <p>
    Valitse tuote, jota haluat muokata tai poistaa.
  </p>
  <p>
    <a href="#">Lisää uusi tuote</a>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimike</th>
        <th>Hinta</th>
        <th>Kuvaus</th>
        <th>Varastosaldo</th>
        <th>Hälytyssaldo</th>
      </tr>
    </thead>

    <tbody>
      <!-- Tuotteet listana -->
      {% for tuote in tuotteet %}
      <tr>
        <td><a class="btn btn-default btn-sm" href="{{base_path}}/{{tuote.id}}/tuote_yp">{{tuote.nimike}}</a></td>
        <td>{{tuote.hinta}}</td>
        <td>{{tuote.kuvaus}}</td>
        <td>{{tuote.varastosaldo}}</td>
        <td>{{tuote.halytyssaldo}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}