{% extends "base.html" %}
{% block content %}
  <h1>Uusi tilaus</h1>


  <form class="form-horizontal">

    <div class="form-group">
      <label>Siika</label>
      <input type="text" class="form-control" value="0">
    </div>

    <div class="form-group">
      <label>Kuha</label>
      <input type="password" class="form-control" value="0">
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lähetä tilaus</button>
    </div>
    </form>

{% endblock %}