{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa tuotetta</h1>

    {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/tuoteet_yp/{{tuote.id}}/edit">
    <div class="form-group">
      <label>Nimike</label>
      <input type="text" name="nimike" class="form-control" value="{{tuote.nimike}}">
    </div>

    <div class="form-group">
      <label>Hinta</label>
      <input type="text" name="hinta" class="form-control" value="{{tuote.hinta}}">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <input type="text" name="kuvaus" class="form-control" value="{{tuote.kuvaus}}">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
    </div>
  </form>
{% endblock %}
