{% extends "base.html" %}
{% block content %}
  <h1>Tuotteet</h1>

  {% if message %}
    <div class="alert alert-success">
      {{message}}
    </div>
  {% endif %}
  
  <p>
    Valitse tuote, jota haluat muokata tai poistaa.
  </p>
  <p>
<form method="post" action="{{base_path}}/valikoima">
  {% for tuote in tuotteet %}
    <div class="form-group">
      <label>{{tuote.nimike}}</label>
      <input type="text" name="{{tuote.id}}" class="form-control">
    </div>
  {% endfor %}  
</form>





{% endblock %}