{% extends "base.html" %}
{% block content %}

  <h1>Kirjaudu ylläpidon sivuille</h1>

  {% if message %}
    <div class="alert alert-danger">
      <ul>
          <li>{{message}}</li>
      </ul>
    </div>
  {% endif %}

<form method="post" action="{{base_path}}/yllapito">
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" class="form-control" name="tunnus" value="{{tunnus}}">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input type="password" class="form-control" name="salasana">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu</button>
  </form>
{% endblock %}